<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EndpointName" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/Gabekore" binding="basicHttpBinding"
                bindingConfiguration="EndpointName" contract="GabekoreService.IService"
                name="EndpointName" />
        </client>
    </system.serviceModel>
</configuration>